<% if @channel.errors.any? %>
  <ul>
    <% @channel.errors.full_messages.each do |e| %>
      <li><%=  %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @channel, class: "channels__form form", local: true do |f| %>
  <p>Channels are where your team communicates. They're best when organized around a topic. - #marketing, for example</p>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description, "Description (optional)" %>
    <%= f.text_field :description %>
    <p>What is this channel about?</p>
  </div>
  <div class="private">
    <div>
      <%= f.label :private %>
      <p>When channel is set to private, it can only be viewed or joined by invitation.</p>
    </div>
    <%= f.check_box :private %>
  </div>
  <%= f.submit "Submit", class: 'btn'%>
<% end %>