<%= structure = capture do %>
  <section class="channels">
    <%= render partial: 'header', locals: {title: @channel.name + "'s member"} %>
    <div class="channels__members-wrapper">
      <div class="channels__members">
        <ul>
          <li>
            <a href="" class="addBtn">
              <div class="img-container">
                <img src="/assets/addMember-icon.jpeg" alt="">
              </div>
              <div class="text-container">
                Add people
              </div>
            </a>
          </li>
          <% @channel.users.each do |u| %>
            <li>
              <div class="img-container">
                <img src="<%= u.image %>" alt="">
              </div>
              <div class="text-container">
                <p> <%= u.username %> </p>
                <p> <%= u.title %> </p>
              </div>
              <div class="option-container">
                <%= link_to "DM", dms_path(u.id), class: "btn" %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <hr>
      <h2>Temporary user list here</h2>
      <div class="channels__members">
        <ul>
          <% @all_users.each do |u| %>
            <li>
              <div class="img-container">
                <img src="<%= u.image %>" alt="">
              </div>
              <div class="text-container">
                <p> <%= u.username %> </p>
                <p> <%= u.title %> </p>
              </div>
              <div class="option-container">
                <%= link_to "Invite", invite_channel_path(@channel.id, u.id), method: 'patch', class: "btn" %>
                <%= link_to "DM", dms_path(u.id), class: "btn" %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
<% end %>

<%= render 'shared/template', :structure => structure %>