<%= structure = capture do %>
  <section class="channels">
    <%= render partial: 'header', locals: {title: "Channel info"} %>
    <div class="channels__info-wrapper">
      <div class="channels__info">
        <div>
          <p>Name</p>
          <p><%= @channel.name %></p>
        </div>
        <div>
          <p>Description</p>
          <p><%= @channel.description %></p>
        </div>
        <div>
          <p>Created by</p>
          <p><%= @all_users.find(@channel.owner_id).username %></p>
        </div>
        <div>
          <a href="<%= members_of_channel_path @channel.id %>">
            <p>Member</p>
            <p><%= @channel.users.count %></p>
          </a>
        </div>
        <div>
          <p><%= @channel.private ? "Private channel" : "Public channel" %></p>
        </div>
        <div>
          <% if @current_user.id != @channel.owner_id %>
            <%= link_to "Leave channel", leave_channel_path(@channel.id), method: 'patch', class: "leaveBtn" %>
          <% else %>
            <%= link_to "Edit", edit_channel_path(@channel.id), class: "editBtn" %>
            <%= link_to "Delete", channel_path(@channel.id), method: 'delete', class: "deleteBtn" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<%= render 'shared/template', :structure => structure %>