<section class="signin">
  <div class="signin__title">
    <h1>
      <img src="/assets/slack-logo.png" alt="logo">
      slack
    </h1>
    <h2>Sign in to Slack</h2>
    <p>Continue with email address you use to sign in.</p>
  </div>

  <div class="signin__form-container">

    <% if flash[:error] %>
      <%= flash[:error] %>
    <% end %>

    <%= form_with url: login_path, class: "form", local: true do |f| %>
      <%= f.text_field :email, placeholder: "Email address" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.submit "Login", class: "btn" %>
    <% end %>
    
  </div>

  <div class="signin__new">
    <p>New user?</p>
    <%= link_to "Create account", new_user_path %>
  </div>
</section>