<%= form_with model: @user, class: "users__form", local: true do |f| %>
  <div class="left-box">
    <div>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :pwd, "Password" %>
      <%= f.password_field :pwd %>
      <%= f.password_field :pwd %>
    </div>
  </div>
  <div class="right-box">
    <%= f.label :image, "Profile photo" %>
    <div class="img-container">
      <img src="" alt="" >
    </div>
    <%= f.file_field :image %>
  </div>
  <div class="btn-box">
    <%= link_to "Cancel", user_path(@user.id) %>
    <%= f.submit %>
  </div>
<% end %>