<%= render :layout => './shared/template' do %>
  <section class="users">
    <%= render partial: 'header', locals: {title: "Edit a profile"} %>
    
    <%= form_with model: @user, html: { multipart: true }, class: "form", local: true do |f| %>
      <div class="left-box">
        <div>
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
        <div>
          <%= f.label :title %>
          <%= f.text_field :title %>
          <p>Let people know what you do at GA Immersive Students.</p>
        </div>
      </div>
      <div class="right-box">
        <%= f.label :image, "Profile photo" %>
        <div class="img-container">
          <%= cl_image_tag @user.image, alt: "user image" %>
        </div>
        <%= f.file_field :image %>
      </div>
      <div class="option-container">
        <%= link_to "Cancel", user_path(@user.id), class: 'btn' %>
        <%= f.submit "Submit", class: 'btn' %>
      </div>
    <% end %>
  </section>
<% end %>
