<section class="signin">
  <div class="signin__title">
    <h1>slack</h1>
    <h2>Sign up to Slack</h2>
    <p>Continue with email address you use to sign up.</p>
  </div>
  <div class="signin__form-container">
    <% if flash[:error] %>
      <%= flash[:error] %>
    <% end %>

    <%= form_with model: @user, class: "form", local: true do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: "Email address" %>
      </div>
      <div>
        <%= f.label :username %>
        <%= f.text_field :username, placeholder: "Username" %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "Password" %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm password"  %>
      </div>
      <%= f.submit "Signup", class: "btn" %>
    <% end %>
  </div>

  <div class="signin__new">
    <p>Already has account?</p>
    <%= link_to "Signin", login_path %>
  </div>
</section>
