<%= render :layout => './shared/template' do %>
  <section class="users">
    <%= render partial: 'header', locals: {title: "Profile"} %>

    <div class="users__profile">
      <div class="img-container">
      <%= cl_image_tag @user.image, alt: "user image" %>
      </div>
      <h2 class="username"><%= @user.username %></h2>
      <p class="title"><%= @user.title %></p>

      <% if @current_user.id == @user.id %>
        <%= link_to edit_user_path(@user.id), class: 'editBtn' do %>
          <i><img src="/assets/edit-icon.png" alt="edit icon"></i>
          <span>Edit profile</span>
        <% end %>
      <% end %>

      <div class="profile-innerbox">
        <div>
          <p>Display name</p>
          <p class="displayName"><%= @user.username %></p>
        </div>
        <div>
          <p>Email address</p>
          <p class="email"><%= @user.email %></p>
        </div>
      </div>
      <div class="option-container">
        <% if @current_user.id == @user.id %>
          <%= link_to "Logout", login_path, method: 'delete', class: "btn" %>
          <%= link_to "Delete the account", user_path, method: 'delete', class: "btn" %>
        <% else %>
          <%= link_to "Send a DM", dms_path(@user.id), class: "btn" %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
