<aside class="workplace__sidebar">
  <h1 class="workplace__sidebar__title">
    <%= link_to "GA Immersive Students", root_path %>
  </h1>
  <div class="workplace__sidebar-scrollContainer">
    <details open class="workplace__sidebar__channels">
      <summary>Channels</summary>
      <ul>
        <% @all_channels.each do |c| %>
          <li class="<%= params[:channel_id].to_i == c.id ? "active" : "" %>">
            <a href="/channels/<%= c.id %>/chats">
              <i> <%= c.private ? "$" : "#" %> </i>
              <span> <%= c.name %> </span>
            </a>
          </li>
        <% end %>
        <li class="workplace__sidebar__channels__option">
          <a href="<%= channels_path %>">
            <i> + </i>
            <span>Browse channels</span>
          </a>
        </li>
        <li class="workplace__sidebar__channels__option">
          <a href="<%= new_channel_path %>">
            <i> + </i>
            <span>Create a channel</span>
          </a>
        </li>
      </ul>
    </details>
    <details open class="workplace__sidebar__DMs">
      <summary>Direct Messages</summary>
      <ul>
        <% @all_DMs.each do |c| %>
          <li class="<%= params[:user_id].to_i == c.id ? "active" : "" %>">
            <a href="<%= dms_path c.id %>">
              <i class="img-container">
                <img src="<%= c.image %>" alt="" />
              </i>
              <span> <%= c.username %> </span>
            </a>
          </li>
        <% end %>
        <li class="workplace__sidebar__channels__option">
          <a href="<%= channels_path %>">
            <i> + </i>
            <span>Add teammates</span>
          </a>
        </li>
      </ul>
    </details>
  </div>
</aside>