<div class="chats__list-container">
  <ul class="chats__list">
  <% if @chats.count != 0 %>
    <% @current_date = @chats.first.created_at.strftime("%A, %B %e") %>
    
    <% @chats.each_with_index do |c, index| %>
      <li class=<%= @all_users.find(c.user_id).status %>>
        <div class="img-container">
            <%= cl_image_tag @all_users.find(c.user_id).image, alt: "user image" %>
        </div>
        <div class="text-container">
          <div>
            <%= link_to dms_path c.user_id do %>
              <p class="username">
                <%= @all_users.find(c.user_id).username %>
              </p>
            <% end %>
            <span class="time"> <%= c.created_at %> </span>
          </div>
            <p class="msg">
              <% if @all_users.find(c.user_id).status == 'active' %>
                <%= c.msg.html_safe %>
              <% else %>
                This is message from deleted user
              <% end %>
             </p>
        </div>
      </li>

      <%# for date %>
      <% if c.created_at.strftime("%A, %B %e") != @current_date || index+1 == @chats.count %>
        <li class="date">
          <span><%= @current_date %></span>
        </li>
        <% @current_date = c.created_at.strftime("%A, %B %e") %>
      <% end %>

    <% end %>
  <% end %>
  </ul>
</div>