<div class="chats__list-container">
  <ul class="chats__list">
    <% @chats.each do |c| %>
      <li class=<%= @all_users.find(c.user_id).status %>>
        <div class="img-container">
            <img src="<%= @all_users.find(c.user_id).image %>" alt="" class="chats__list__item__profileImg">
        </div>
        <div class="text-container">
          <div>
            <a href="<%= dms_path c.user_id %>">
              <p class="username"><%= @all_users.find(c.user_id).username %></p>
            </a>
            <span class="time"> <%= c.created_at %> </span>
          </div>
            <p class="msg">
              <% if @all_users.find(c.user_id).status == 'active' %>
                <%= c.msg.html_safe %>
              <% else %>
                This is message from deleted user
              <% end %>
             </p>
        </div>
        <div class="option-container">
          <%= link_to "Edit", edit_dm_path(c.recipient_id, c.id) %>
          <%= link_to 'Delete', dm_path(c.recipient_id, c.id), method: 'delete'%>
        </div>
      </li>
    <% end %>
  </ul>
</div>