<%= javascript_include_tag "chats" %>

<%= render :layout => './shared/template' do %>
  <section class="dms chats">
    <div class="header">
      <div class="img-container">
        <img src="<%= @recipient.image %>" alt="" />
      </div>
      <h2 class="header__title"><%= @recipient.username %></h2>
    </div>
    
    <%= render partial: 'list' %>
    <%= render partial: 'form' %>
  </section>
<% end %>