<%= javascript_include_tag "chats" %>

<%= render :layout => './shared/template' do %>
  <section class="dms chats">
    <div class="header">
      <%= link_to user_path(@recipient.id) do %>
        <div class="img-container">
          <%= cl_image_tag @recipient.image, alt: "user image" %>
        </div>
        <h2 class="header__title"><%= @recipient.username %></h2>
        <img class="arrow" src="/assets/arrow-icon.png" alt="">
      <% end %>
    </div>
    
    <%= render partial: 'list' %>
    <%= render partial: 'form' %>
  </section>
<% end %>