 <!-- header on top -->
  <header>
    <div></div>
    <form action="" class="header__searchForm">
      <input type="text" placeholder="Search blabla" >
    </form>
    <div class="header__profile">
      <img src="<%= @user.image %>" alt="user profile">
    </div>
  </header>

  <div class="workplace">
  <!-- menu on left side -->
    <aside class="workplace__sidebar">
      <h1 class="workplace__sidebar__title">
      GA Immersive Students
      </h1>
      <div class="workplace__sidebar-scrollContainer">
        <details open class="workplace__sidebar__channels">
          <summary>Channels</summary>
          <ul>
            <% @channels.each do |c| %>
              <li>
                <a href="<%= chats_path %>">
                  <i> <%= c.private ? "$" : "#" %> </i>
                  <span> <%= c.name %> </span>
                </a>
              </li>
            <% end %>
          </ul>
        </details>
        <details open class="workplace__sidebar__DMs">
          <summary>Direct Messages</summary>
          <ul>
            <li>
              <i>icon</i>
              <span>Example DM</span>
            </li>
          </ul>
        </details>
      </div>
    </aside>

    <!-- main work place -->
    <main class="workplace__primaryView">
      <%= yield %>
    </main>
  </div>