<div class="chats__list-container">
  <ul class="chats__list">
    <% @chats.each do |c| %>
      <li class=<%= @all_users.find(c.user_id).status %>>
        <div class="img-container">
          <a href="<%= dms_path c.user_id %>">
            <img src="<%= @all_users.find(c.user_id).image %>" alt="">
          </a>
        </div>
        <div class="text-container">
          <div>
            <%= link_to @all_users.find(c.user_id).username, dms_path(c.user_id), class: "username" %>
            <span class="time"> <%= c.created_at %> </span>
          </div>
          <p class="msg">
            <% if @all_users.find(c.user_id).status == 'active' %>
              <%= c.msg.html_safe %>
            <% else %>
              This is message from deleted user
            <% end %>
          </p>
        </div>
        <div class="option-container">
          <%= link_to "Edit", edit_chat_path(c.channel_id, c.id) %>
          <%= link_to 'Delete', chat_path(c.channel_id, c.id), method: 'delete'%>
        </div>
      </li>
    <% end %>
  </ul>
</div>