<%= javascript_include_tag "chats" %>

<%= render :layout => './shared/template' do %>
  <section class="chats">
    <%= render partial: 'header' %>
    <%= render partial: 'list' %>
    <%= render partial: 'form' %>
  </section>
<% end %>


